<div class="sidebar">
    <nav>
        <button onclick="window.location.href='/'" class="active">
            <img src="/assets/icons/home.svg" alt="Home Icon">
            <span>Home</span>
        </button>
        <button onclick="window.location.href='/kanban'">
            <img src="/assets/icons/kanban.svg" alt="Kanban Icon">
            <span>Kanban</span>
        </button>
        <button onclick="window.location.href='/tasks'">
            <img src="/assets/icons/tasks.svg" alt="Tasks Icon">
            <span>Tarefas</span>
        </button>
        <button onclick="window.location.href='/profile'">
            <img src="/assets/icons/profile.svg" alt="Profile Icon">
            <span>Perfil</span>
        </button>
    </nav>
</div>

