/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #883BEE;
  --background-color: #121214;
  --foreground-color: #E1E1E1;
  --border-color: #29292E;
  --card-color: #1A1A1E;
}

body {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--foreground-color);
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 260px 1fr;
  grid-template-areas: 
    "header header"
    "sidebar main";
}

/* Header */
header {
  grid-area: header;
  background-color: var(--card-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

header .logo img {
  height: 40px;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: var(--background-color);
  border-right: 2px solid var(--border-color);
  overflow-y: auto;
}

/* Main content */
main {
  grid-area: main;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--background-color);
}

/* Media query para celular */
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main";
  }
  
  .sidebar {
    display: none;
  }
}
