<h2>Adicionar Tarefa</h2>

<form>
  <label for="title">Título:</label>
  <input type="text" id="title" name="title" required>

  <label for="description">Descrição:</label>
  <input type="text" id="description" name="description" required>

  <label for="due_date">Data de Conclusão:</label>
  <input type="date" id="due_date" name="due_date" required>

  <label for="category_id">Categoria:</label>
  <select id="category_id" name="category_id" disabled required>
    <option value="1">Sem Categorias</option>
  </select>

  <label for="state_id">Estado:</label>
  <select id="state_id" name="state_id" disabled required>
    <option value="1">Sem Estados</option>
  </select>

  <button type="submit">Adicionar</button>
</form>

<script>
  const categorySelect = document.getElementById('category_id');
  const stateSelect = document.getElementById('state_id');

  // Fetch categories
  fetch('/api/categories/all')
    .then(response => response.json())
    .then(categories => {
      if (categories.length === 0) {
        categorySelect.innerHTML = '<option value="1">Sem categorias</option>';
        categorySelect.disabled = true;
        return;
      }
      
      categorySelect.innerHTML = '';
      categorySelect.disabled = false;
      categories.forEach(category => {
        const option = document.createElement('option');
        option.value = category.id;
        option.textContent = category.name;
        categorySelect.appendChild(option);
      });
    })
    .catch(error => console.error('Error fetching categories:', error));

  // Fetch states
  fetch('/api/states/all')
    .then(response => response.json())
    .then(states => {
      if (states.length === 0) {
        stateSelect.innerHTML = '<option value="1">Sem estados</option>';
        stateSelect.disabled = true;
        return;
      }

      stateSelect.innerHTML = '';
      stateSelect.disabled = false;
      states.forEach(state => {
        const option = document.createElement('option');
        option.value = state.id;
        option.textContent = state.name;
        stateSelect.appendChild(option);
      });
    })
    .catch(error => console.error('Error fetching states:', error));

  document.querySelector('form').addEventListener('submit', (event) => {
    event.preventDefault();

    const title = document.querySelector('#title').value;
    const description = document.querySelector('#description').value;
    const due_date = document.querySelector('#due_date').value;
    const category_id = null;
    const state_id = null;
    const supertask_id = null;
    const user_id = null;

    const taskData = {
      title,
      description,
      due_date,
      category_id,
      state_id,
      supertask_id,
      user_id
    }

    fetch('/api/tasks/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(taskData)
    }).then(response => {
      if (response.ok) {
        window.location.href = '/home';
      } else {
        throw new Error('Erro ao adicionar tarefa');
      }
    })
      .catch(error => console.error(error));
  });
</script>